.ca-panel-body {
  /*border: 2px solid red;*/
  margin-top: 5%;
  font-size: 30px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  color: gray;
  background-color: rgba(240, 235,193, 0.9);
  position: absolute;
  /*top: -230px;*/
  top: -225px;
  height: 200px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: none;
}
.ca-val-image {
  margin-top: 7px;
  margin-left: 95px; 
  height: 30px;
  width: 30px;
}
.ca-button.ca-btn-icon {
  height: 30px;
  width: 30px;
  padding-right:3px;
  padding-left:3px;
}
.ca-button-group {
  margin-bottom: 10px;
}
#cap_open {
  display: none;
  width: 100%;
}
#cap_closed {
  display: block;
  width: 100%;
}

.ca-container {
  position: relative;
}

.ca-placeholder-body.ca-button {
  /*margin-bottom: 0px;*/
  display: flex;
  /*padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;*/
}

.ca-placeholder-body {
  /*background-color:  white;*/
  border-radius: 5px;
  background-color: rgb(240, 235, 193);
  margin-bottom: 20px;
  margin-top: 20px;
  height: 45px;
}
#view-text {
  margin-top: 10px;
  display: block;
  text-align: center;
}

#captcha_form {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.ca-form-group {
    color: gray;
}

.ca-img-container {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.ca-input {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px; 
  height: 40px;
}

.ca-button {
  /*margin-top:15px;
  margin-bottom: 15px;*/
  color: black;
  padding: 0px;
}

.ca-button#audio {
  background-color: #68f468;
  border: none;
  height: 100%;
  font-size: 25px;
  width: 33.33%;
}

.ca-button#voice_inp {
  background-color: #6969f6;
  border: none;
  height: 100%;
  font-size: 25px;
  width: 33.33%;
}

.ca-button#switch_lang {
  background-color: #f4f433; 
  border: none;
  height: 100%;
  font-size: 25px;
  cursor: pointer;
  /*display: inline-block;*/
  position: relative;
  width: 33.33%;
}
.ca-button#change_captcha {
  background-color: #6e55e7; 
  border: none;
  height: 100%;
  font-size: 25px;
  cursor: pointer;
  position: relative;
  width: 30%;
}

.ca-button#switch_lang:hover, .ca-button#switch_lang:focus {
  background-color: #c2c20f;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content .lang-option {
  color: black;
  padding: 6px 3px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown-content .lang-option:hover {
  background-color: #ddd;
}

.show {display:block;}

.ca-button#submit {
  width: 50%;
  background-color: red;
  border: none;
  height: 40px;
  font-size: 25px;
}
.ca-label {
  color: gray;
}

.ca-validated {
  color: green;
  margin-top: 10px;
  margin-left: 20px;
}

#ca-canvas {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index: -1;
}
